* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    scroll-behavior: smooth;
}

body {
  
}

header{
    background-color: rgb(12, 15, 32);
    color: white;
    max-width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.l{
    width: 20%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120%;
    font-weight: bold;
}

.l img{
    width: 40px;
    height: 40px;
    margin: 3%;
}

.r1{
    width: 30%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.r1 img{
    width: 30px;
    height: 30px;
}

.r2{
    width: 50%;
    height: 60%;
    background-color: rgba(158, 69, 0, 0.74);
    background-image: linear-gradient(to bottom right,rgba(118, 55, 7, 0.436),rgba(223, 73, 3, 0.874));
    border: 2px solid orangered;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(219, 219, 219);
    font-weight: bold;
}

.home{
    max-width: 100%;
    height: 90vh;
    background-image:url(pexels-divinetechygirl-1181316.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

.nav{
    max-width: 100%;
    height: 7vh;
    background-color: rgba(12, 15, 32, 0.78);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}

.nav ul{
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: center;
}

.nav ul li{
    margin: 20px;
    display: flex;
    width: 10%;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav ul li img{
    width: 15px;
    height: 15px;
    margin-left: 10%;
}

.nav ul li:hover{
   border-bottom: 3px solid orangered;
}

#homeNav{
    border-bottom: 3px solid orangered;
}

.l{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo{
    width: 45%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 4%;
    background-color: rgba(0, 0, 0, 0.409);
}

.logo img{
    width: 150px;
    height: 150px;
}

.logo h1{
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
}

.logo p{
    font-size: 1.3rem;
    color: white;
}

#logoInfo{
     width: 100%;
     height: fit-content;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 1%;
}

.l1,.l2{
    width: 30%;
    height: 27vh;
    overflow: auto;
}

.l1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    color: white;
    padding-right:0.5%;
}
.l2{ 
    border-left: 3px solid orangered;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.l21,.l22{
    width: 40%;
    height: 5vh;
    background-color: rgba(255, 68, 0, 0.468);
    border: 3px solid rgb(255, 94, 0);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

#c{
    width: 31px;
    height: 25vh;
    background-color: rgba(13, 5, 23, 0.409);
    background-color: rgba(12, 15, 32, 0.78);
    position: absolute;
    top: 45vh;
    left: 0px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#up{
    position: absolute;
    bottom: 3vh;
    left: 0.1%;
    position: fixed;
    width: 27px;
    height: 27px;
}



#c img{
    width: 20px;
    height: 20px;
}

#s{
    height: fit-content;
    height: fit-content;
    background-color: aqua;
}

#s2{
    max-width: 100%;
    height: 40vh;
    background-color: rgb(229, 228, 228);
    display: flex;
}

.s21{
    width: 30%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s21 img{
    width: 130px;
    height: 130px;
}

.s22{
    width: 70%;
    height: 40vh;
    display: flex;
    flex-direction: column;
}

.s221{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: left;
}

.s221 h1{
  
    font-size: 1.3;
    color: rgb(2, 17, 42);
}

.s222{
    width: 100%;
    height:20vh ;
}

.s222 p{
    font-size: 1.3rem;
    padding-right:5% ;
  
}

#s3{
    max-width: 100%;
    height: 45vh;
    background-color: rgb(229, 228, 228);;
   
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sl,.sr{
    height: 30vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.2rem;
}

.sl{
    width: 60%;
    background-image: linear-gradient(to right,white,grey);
    border-radius: 10px;
}

.sr{
    width: 25%;
    background-image: linear-gradient(to left,white,grey);
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1rem;
}

.sl h1,.sr h1{
    color: orangered;
}

#s4{
    max-width: 100%;
    height: fit-content;
    background-image: linear-gradient(to bottom,rgb(255, 255, 255),white);
    padding: 5%;
}

.s41{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s41a{
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s41a img{
    width: 85%;
    height:95%;
}

.s41b{
    width:50%;
    height: 50vh;
    padding-left: 0%;
    padding-right: 0%;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#s5{
    max-width: 100%;
    height: 40vh;
    background-image: url(pexels-riciardus-303040.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: orangered;
    font-size: 3rem;
    font-weight: bolder;
}


#s6{
    max-width: 100%;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#s6 div{
    width: 30vw;
    height: 60vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 20px 20px 5px -15px rgb(0, 221, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#s6 div img{
    width: 30vw;
    height: 30vh;
}

.heading{
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 0%;
}
.paragraph{
    padding-left: 0%;
}


#s7{
  max-width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  
}

.s77{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s7l{
    width: 70vw;
    height: fit-content;
    white-space: nowrap;
    overflow-x: auto;
}

.s7l img{
    width: 250px;
    height: 150px;
    margin: 10px;
    border-radius: 8px;
}

.s72{
    width: 5%;
    height: 30vh;
}

.s7r{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4vw;
    height: 7vw;
}

.s7r img{
    width: 25px;
    height: 25px;
}

#s8{
    max-width: 100%;
    height: 50vh;
    background-color: rgb(225, 225, 225);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    padding: 5%;
    font-size: 1.3rem;
}

#s8 h1{
    border-left: 3px solid orangered;
    padding-left: 1%;
    font-size: 2.5rem;
}


footer{
    max-width: 100%;
    height: 10vh;
    background-color: rgb(33, 33, 33);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
   
}


