@media screen and (max-width:1024px) {

    .r2{
        width: 9.4rem;
    }
    
   .nav ul li{
    width: 8rem;
    margin: 0.8rem;
   }


.logo{
   
    height: 40vh;
    margin-top: 5%;
    margin-bottom: 5%;
}

.l1,.l2{
    width: 40%;
}

}  

@media screen and (max-width:768px) {

    .l{
        font-size: 110%;
    }
    
    .l img{
        width: 35px;
        height: 35px;
        margin: 3%;
    }
    
    .r1{
        width: 50%;
        height: 10vh;
        display: flex;
        justify-content: right;
        align-items: center;
    }


    .r2{
        width: 9rem;
        height: 5vh;
    }

    .logo{
        width: 30rem;
        height: 35vh;
    }

    .logo h1{
        font-size: 2rem;
    }

    .logo img{
        width: 130px;
        height: 130px;
    }

 }  



 @media screen and (max-width:650px) {

    .l{
        font-size: 1.4rem;
    }

    .nav ul{
        display: none;
    }

      #navImg{
        display: block;
      }

      #logoInfo{
        flex-direction: column;
        justify-content: center;
        align-items: center;
   }

   .l1,.l2{
    width: 80%;
    height: 20vh;
}


.l1{
    width: 80%;
    
}

.l2{
    border: 0px;
}

 }

 @media screen and (max-width:490px) {

    .logo{
        max-width: 100%;
        margin: 0px;
    }

    .l img{
       width: 35px;
       height: 35px;
    }

    .l{
        font-size: 1.1rem;
    }

    .r1 img{
        width: 24px;
        height: 24px;
    }

    .r2{
        width: 6.3rem;
        height: 4vh;
        font-size: 90%;
    }

    .nav{
        height: 6vh;
    }

    .nav img{
        width: 24px;
        height: 20px;
    }

    .logo img{
        width: 110px;
        height: 110px;
    }

    .logo h1{
        font-size: 2.2rem;
    }

    .l1{
        height: fit-content;
    }

    .l2{
        height: 15vh;
        flex-direction: column;
        justify-content: center;
    }

    .l21{
        margin-bottom: 5%;
    }

    .l2{
        border-left: 3px solid orangered;
        margin-top: 5%;
    }

    .logo{
        margin-top: 5%;
    }
   
  #logoInfo{
    margin-top: 10%;
  }

  .home{
    background-image: url(IMG_5962.jpg);
  }

 }